.page-product {
  @import "./components/hero";
  @import "./components/about-product";
  @import "./components/other-products";

  .rewiews {
    margin: 50px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    border: 2px solid #323232;
    padding: 50px;
    border-radius: 20px;
    h3 {
      font-size: 30px;
      margin-bottom: 20px;
    }
    input {
      color: gray;
      border: 2px solid #323232;
      border-radius: 10px;
      background: #dcdcdc;
      padding: 10px;
      margin: 10px 0 ;
      max-width: 500px;
    }
    button {
      max-width: 200px;
      background: rgb(35, 161, 35);
      color: #fff;
      border-radius: 20px;
      padding: 15px;
      border: none;
      margin-top: 20px;
    }
  }
}
