.advantage {
  padding-top: 95px;
  @media (max-width: 991px) {
    padding-top: 60px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    width: calc(100% / 6 - (150px / 6));
    background: #F5F5F5;
    border-radius: 5px;
    max-width: 262px;
    min-height: 223px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media(max-width:1549px) {
      width: calc(100% / 3 - (60px / 3));
      max-width: none;
    }
    @media(max-width:767px) {
      width: calc(100% / 2 - (30px / 2));
      max-width: none;
    }
  }
  &__item-img {
    flex: 0 1 87px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    img {
      display: block;
      @media(max-width:575px) {
        max-height: 70px;
        max-width: 100px;
      }
    }
  }
  &__item-desc {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    line-height: 25px;
    @media(max-width:575px) {
      font-size: 14px;
    }
  }
}