.category {
  padding-top: 70px;
  @media (max-width: 991px) {
    padding-top: 40px;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% / 3 - (60px / 3));
    background: #f5f5f5;
    border-radius: 10px;
    padding: 0 30px;
    @media (max-width: 1549px) {
      width: calc(100% / 2 - (30px / 2));
    }
    @media (max-width: 991px) {
      padding: 0;
      background: none;
      flex-direction: column-reverse;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  &__item-img {
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px 10px;
      border-radius: 10px;
      background: #f5f5f5;
    }
  }
  &__item-heading {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
    @media (max-width: 991px) {
      margin-top: 20px;
      margin-bottom: 0px;
      font-size: 22px;
    }
    @media(max-width:575px) {
      font-size: 18px;
    }
  }
  &__item-list {
    margin-left: 10px;
    @media (max-width: 991px) {
      display: none;
    }
    li {
      position: relative;
      padding-left: 10px;
    }
    li:not(:last-child) {
      margin-bottom: 15px;
    }
    li:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: block;
      width: 3px;
      height: 3px;
      background-color: #323232;
      border-radius: 50%;
    }
  }
}
