.blog-page {
  padding: 40px 0;
  &__content {
    max-width: 1000px;
  }
  h3 {
    font-size: 30px;
  }
  img {
    margin: 20px 0;
  }
  p {
    line-height: 25px;
    margin: 20px 0;
  }
  ul {
    margin: 20px 0 20px 30px;
    list-style-type: disc;
  }
  li:not(:last-child) {
    margin-bottom: 10px;
  }
  ol {
    margin: 20px 0 20px 30px;
  }
}
