.popular-products {
  padding-top: 30px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    width: 408px;
    @media(max-width:575px) {
      width: 254px;
    }
  }
}